.brand-title {
  font-size: 32px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: black;
}

body {
  background-color: rgb(240, 238, 235);
}

.navbar {
  padding: 15px;
}

.nav-link {
  font-size: 16px;
  color: black;
}

.nav-link.active {
  color: pink;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.card {
  flex: 1;
  max-width: 48%;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: white;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.img-thumbnail {
  max-width: 350px;
  display: block;
  margin-top: 20px;
}

.list-group-item {
  font-size: 16px;
}

.info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}
